@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>TMA Tuyen Dung </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Asset/vendor/bootstrap.css">
    <link rel="stylesheet" href="~/Asset/vendor/font-awesome.css">
    <link rel="stylesheet" href="~/Asset/css/tuyendung.css">
</head>
<body>
    <div class="slidewrapper">
        <div class="cacslide">
            <ul>
                <li class="active">
                    <div class="motslide">
                        <div class="anh" style="background-image:url(../Asset/images/slide1.jpg)"></div>
                        <img src="../Asset/images/tamgiacnau.png" alt="" class="nauduoi1">
                        <img src="../Asset/images/tamgiacnau.png" alt="" class="nauduoi2">
                        <img src="../Asset/images/tamgiacnautren.png" alt="" class="nautren">
                        <div class="textnoidung">
                            <h2>01</h2>
                            <small>TH TRUE Milk</small>
                            <div class="ke"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eum ratione enim unde vero, totam ex aspernatur officiis dignissimos. Molestiae nulla soluta voluptate eaque excepturi eveniet facere tempora, itaque corporis?</p>
                            <a href="../../Register" class="nut">Register or Sign in</a>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="motslide">
                        <div class="anh" style="background-image:url(../Asset/images/slide2.jpg)"></div>
                        <img src="../Asset/images/tamgiacnau.png" alt="" class="nauduoi1">
                        <img src="../Asset/images/tamgiacnau.png" alt="" class="nauduoi2">
                        <img src="../Asset/images/tamgiacnautren.png" alt="" class="nautren">
                        <div class="textnoidung">
                            <h2>02</h2>
                            <small>VinaMilk</small>
                            <div class="ke"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eum ratione enim unde vero, totam ex aspernatur officiis dignissimos. Molestiae nulla soluta voluptate eaque excepturi eveniet facere tempora, itaque corporis?</p>
                            <a href="../../Register" class="nut">Register or Sign in</a>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="motslide">
                        <div class="anh" style="background-image:url(../Asset/images/slide3.jpg)"></div>
                        <img src="../Asset/images/tamgiacnau.png" alt="" class="nauduoi1">
                        <img src="../Asset/images/tamgiacnau.png" alt="" class="nauduoi2">
                        <img src="../Asset/images/tamgiacnautren.png" alt="" class="nautren">
                        <div class="textnoidung">
                            <h2>03</h2>
                            <small>Devondale Milk</small>
                            <div class="ke"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eum ratione enim unde vero, totam ex aspernatur officiis dignissimos. Molestiae nulla soluta voluptate eaque excepturi eveniet facere tempora, itaque corporis?</p>
                            <a href="../../Register" class="nut">Register or Sign in</a>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="motslide">
                        <div class="anh" style="background-image:url(../Asset/images/slide4.jpg)"></div>
                        <img src="../Asset/images/tamgiacnau.png" alt="" class="nauduoi1">
                        <img src="../Asset/images/tamgiacnau.png" alt="" class="nauduoi2">
                        <img src="../Asset/images/tamgiacnautren.png" alt="" class="nautren">
                        <div class="textnoidung">
                            <h2>04</h2>
                            <small>MORIGANA</small>
                            <div class="ke"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eum ratione enim unde vero, totam ex aspernatur officiis dignissimos. Molestiae nulla soluta voluptate eaque excepturi eveniet facere tempora, itaque corporis?</p>
                            <a href="../../Register" class="nut">Register or Sign in</a>
                        </div>
                    </div>

                </li>
            </ul>

        </div>  <!-- het noi dung slide -->


        <div class="chuyenslide">
            <ul>
                <li class="kichhoat">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
        </div>
    </div> <!-- end slidewrapper -->
    <script type="text/javascript" src="~/Asset/js/tuyendung.js"></script>
</body>
</html>